<header class="ba-header-wrap" id="top"> 
        <div class="row align-middle">
            <div class="column">
                <a href="/">
                    <img src="{{root}}assets/img/logo.svg" alt="Logo">
                </a>
            </div>
            <!-- /.column -->
            <div class="column shrink">
                <button class="menu-icon hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
                        </button>
                <ul class="menu ba-main-menu show-for-medium" data-smooth-scroll>
                    <li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="#top">Home</a></li>
                    <li {{#ifpage 'about'}} class="active" {{/ifpage}}><a href="#about">About</a></li>
                    <li {{#ifpage 'services'}} class="active" {{/ifpage}}><a href="#services">Services</a></li>
                    <li {{#ifpage 'works'}} class="active" {{/ifpage}}><a href="#works">Works</a></li>
                    <li {{#ifpage 'contact'}} class="active" {{/ifpage}}><a href="#contacts">Contact</a></li>
                </ul>
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
</header>