<nav>
    <ul class="menu vertical">
            <li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="index.html">Home</a></li>
            <li {{#ifpage 'about'}} class="active" {{/ifpage}}><a href="#">About</a></li>
            <li {{#ifpage 'services'}} class="active" {{/ifpage}}><a href="#">Services</a></li>
            <li {{#ifpage 'works'}} class="active" {{/ifpage}}><a href="#">Works</a></li>
            <li {{#ifpage 'contact'}} class="active" {{/ifpage}}><a href="#">Contact</a></li>
    </ul>
</nav>